@use "../abstracts/abstracts" as *;

$margen: 100%;

footer {
    background-color: $color-black;
    padding: 48px 32px;

    img.logotipo {
        width: 110px;
        margin-bottom: 38px;
    }

    p{
        color: $color-white;
        font-family: $secondary-font;
        //width: 170px;
        width: calc(#{$margen} - 40px);
        font-weight: 100;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 32px;
    }

    div.logotipo__contenedor-redes {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@include breakpoint(tablet) {
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 60px;
        
        img.logotipo {
            //margin-top: -30px;
        }

        p{
            width: 36%;
        }
        
        div.logotipo__contenedor-redes {
            display: flex;
            align-items: center;
            gap: 20px;

            //margin-top: -120px;
        }
    }

}
