@use "../abstracts/abstracts" as *;


footer {
    background-color: $color-black;
    padding: 48px 32px;

    img.logotipo {
        width: 100px;
        margin-bottom: 38px;
    }

    p{
        color: $color-white;
        font-family: $secondary-font;
        width: 170px;
        font-weight: 100;
        font-size: 9px;
        line-height: 1.5;
        margin-bottom: 32px;
    }

    div.contenedor__redes {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}