@use "../abstracts/abstracts" as *;

$margen-mobil: 100%;
//$margen-mobil: 210px; Es el más pequeño de todos.




main {
    margin-bottom: 120px;

    .img-principal {
        width: 100%;
        //width: 210px; Esto es lo más pequeño
        margin-bottom: 32px;
    }

    h1, h2 {
        width: 100%;
        font-size: 69px;
        padding: 0 16px;
        font-weight: 800;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    p {
        font-family: $secondary-font;
        width: $margen-mobil;
        font-size: 16px;
        padding: 0 16px;
        font-weight: 200;
        line-height: 1.5;
        margin-bottom: 32px;
        
    }

    .boton {
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 120px;

        &-derecho{
            @include btn-right();
            font-size: 18px;
            letter-spacing: 2px;
        }

        &-img {
            //width: 28px;
            padding: 22px;
            background-color: $color-orange;
        }
        
        &:hover {
            .boton-img {
                background-color: $color-black;
            }
        }

    }

    .img-2, .img-3 {
        width: $margen-mobil;
        margin-bottom: 10px;
        padding: 0 16px;
    }

    .img-4 {
        width: $margen-mobil;
        margin-bottom: 10px;
        padding: 16px 16px;
    }

    .section__inicial {
        margin-right: 16px;
        margin-left:16px;
        //width: 178px;
        width: calc(#{$margen-mobil} - 32px);

        background-color: $color-black;

        h3 {
            color: $color-white;
            //width: 170px;
            width: calc(#{$margen-mobil} - 40px);
            padding: 48px 24px 0 24px;
            font-weight: 800;
            font-size: 60px;
            line-height: 0.9;
            margin-bottom: 20px;
        }

        p {
            color: $color-white;

            font-family: $secondary-font;
            //width: 170px;
            width: calc(#{$margen-mobil} - 40px);
            padding: 0 24px;
            font-weight: 200;
            font-size: 16px;
            line-height: 1.5;
            padding-bottom: 32px;
            margin-bottom: 32px;
        
        }

    }
    

}

@include breakpoint(tablet) {
    main {
    margin-bottom: 137px;
        .hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 1fr 1fr 1fr ;  /* 5 filas de 100px de alto */
            margin-bottom: 103px;
            padding-right: 40px;

            .img-principal {
                width: 100%;
                max-width: 1024px;
                //width: 210px; Esto es lo más pequeño
                margin-bottom: 32px;
                grid-column: 1 / 2;
                grid-row: 1 / 5;
            }

            h1 {
                width: 95%;
                grid-column: 2 / 2;
                grid-row: 2 / 3;
                margin-left: -60px;
                font-size: 70px;
            }

            p {
                width: 100%;
                grid-column: 2 / 2;
                grid-row: 3 / 3;
                margin-left: -60px;
                font-size: 18px;
                padding: 0 13px;
            }

            .boton {
                width: 100%;
                grid-column: 2 / 2;
                grid-row: 4 / 4;
                margin-left: -60px;
            }

            &__imagen-2 {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                
                .gallery-img {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }

                .gallery-text {
                    width: 71%;
                    display: flex;            // Para alinear contenido interno
                    flex-direction: column;
                    justify-content: center;  // Centra verticalmente el texto
                    padding: 40px;            // Espaciado interno
                    height: 100%;              // Clave: asegurar que ocupe toda la celda
                    padding: 0;
                }
            }

            &__imagen-3 {
                display: flex;
                align-items: center;

                .img-3 {
                    margin-right: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                &-container {
                    .img-4 {
                        margin-top: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                    }

                    .section__inicial {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                    }
                }
                
            }

        }
       
    }
       
}

//Responsive para PC a partir de 1025px
@include breakpoint(desktop) {
    main {
        margin-bottom: 180px;
        .hero {
            display: grid;
            grid-template-columns: 1fr 1.2fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            height: 100vh;
            
            h1 {
                grid-column: 1;
                grid-row: 1;
                color:$color-white;
                margin-bottom: 3px;
                margin-top: 100px;
                margin-left: 103px;
                z-index: 15;
 
            }

            .img-principal {
                grid-column: 2 / 3;
                margin-bottom: 0;
                //height: 100%;
                //grid-row: 1 / 5;
            }

            .boton {
                grid-column: 3;
                grid-row: 3;
                margin-top: -500px;
                margin-left: -60px;
                
            }

            p {
                margin-top: 100px;
                margin-left: -60px;
            }

            &__imagen-2 {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                padding:0 165px ;
                
                .gallery-img {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }

                .gallery-text {
                    width: 71%;
                    display: flex;            // Para alinear contenido interno
                    flex-direction: column;
                    justify-content: center;  // Centra verticalmente el texto
                    padding: 40px;            // Espaciado interno
                    height: 100%;              // Clave: asegurar que ocupe toda la celda
                    padding: 0;
                }
            }

            &__imagen-3 {
                display: flex;
                align-items: center;
                padding:0 165px ;

                .img-3 {
                    margin-right: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                &-container {
                    .img-4 {
                        margin-top: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                    }

                    .section__inicial {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                    }
                }
                
            }
        }

    }
    
}