@use "../abstracts/abstracts" as *;

$margen-mobil: 100%;
//$margen-mobil: 210px; Es el más pequeño de todos.

main {
    margin-bottom: 120px;

    .img-principal {
        width: $margen-mobil;
        //width: 210px; Esto es lo más pequeño
        margin-bottom: 32px;
    }

    h1, h2 {
        width: $margen-mobil;
        font-size: 69px;
        padding: 0 16px;
        font-weight: 800;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    p {
        font-family: $secondary-font;
        width: $margen-mobil;
        font-size: 16px;
        padding: 0 16px;
        font-weight: 200;
        line-height: 1.5;
        margin-bottom: 32px;
        
    }

    .boton {
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 120px;

        &-derecho{
            @include btn-right();
            font-size: 18px;
            letter-spacing: 2px;
        }

        &-img {
            //width: 28px;
            padding: 22px;
            background-color: $color-orange;
        }
        
        &:hover {
            .boton-img {
                background-color: $color-black;
            }
        }

    }

    .img-2, .img-3 {
        width: $margen-mobil;
        margin-bottom: 10px;
        padding: 0 16px;
    }

    .img-4 {
        width: $margen-mobil;
        margin-bottom: 10px;
        padding: 16px 16px;
    }

    .section__inicial {
        margin-right: 16px;
        margin-left:16px;
        //width: 178px;
        width: calc(#{$margen-mobil} - 32px);

        background-color: $color-black;

        h3 {
            color: $color-white;
            //width: 170px;
            width: calc(#{$margen-mobil} - 40px);
            padding: 48px 24px 0 24px;
            font-weight: 800;
            font-size: 60px;
            line-height: 0.9;
            margin-bottom: 20px;
        }

        p {
            color: $color-white;

            font-family: $secondary-font;
            //width: 170px;
            width: calc(#{$margen-mobil} - 40px);
            padding: 0 24px;
            font-weight: 200;
            font-size: 16px;
            line-height: 1.5;
            padding-bottom: 32px;
            margin-bottom: 32px;
        
        }

    }
    

}